@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #232323;
  --divider: #E5E5E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1B2543;
  --color-secondary: #F6C010;
  --color-neutral: #8D8D8D;
  --color-neutral-paper: #F7F7F7;
  --color-light-gray: #E5E5E5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

h1 {
  line-height: 130%;
}

p {
  line-height: 130%;
}

.title-1 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -0.07em;
}